{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "ios": "10.3",
                    "chrome": "60"
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-object-rest-spread"]
}
